<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>罰單申訴進度：申訴成功</title>
	<style>
		ul {
			list-style-type: none; /* 移除原點符號 */
			padding: 0;
		}

		ul li {
			padding: 5px 0;
			color: #555; /* 字體顏色設置為較淺的灰色，與黑色區分 */
		}

		ul li strong {
			color: #333; /* 深灰色的標題文字 */
		}

		/*ul li:first-child {*/
		/*	color: #000; !* 第一個列表項保持為黑色 *!*/
		/*}*/

		ul li:nth-child(odd) {
			background-color: #f9f9f9; /* 奇數行設置為淺灰色背景 */
		}

		ul li:nth-child(even) {
			background-color: #f2f2f2; /* 偶數行設置為更淺的灰色背景 */
		}
	</style>
</head>
<body>
<div style="font-family: Arial, sans-serif; font-size: 1rem; color: #333;">
	<p>您好，我們很高興通知您：</p>
	<p>您的交通罰單烏龍問題已經解決，罰責也被撤銷。再次恭喜您！</p>

	<p>協助您申訴的罰單資訊如下：</p>
	<ul>
		<li><strong>申請日期：</strong>{{createdAt}}</li>
		<li><strong>訂單號碼：</strong>{{orderNo}}</li>
		<li><strong>進度狀態：</strong>申訴成功</li>
		{{#each ticketSubmissions}}
			{{#if @first}}
				<li><strong>車牌號碼：{{this.licensePlateNo}}</strong></li>
			{{/if}}
			<li><strong>罰單號碼：{{this.ticketNo}}</strong></li>
			<li><strong>原判決罰金：{{this.violationFine}}</strong></li>
			<li><strong>申訴後罰金：{{this.appealViolationFine}}</strong></li>
		{{/each}}
	</ul>
	<br>

	<p>＃提醒：若此罰單已繳費，可於線上申請退款，申請退款須為本人資料！</p>
	<p>罰單重複繳款怎麼辦？3步驟學會罰單溢繳查詢與退費申請</p>

<p>
	此外也提供您幾組罰單申訴的 {{ giftCardDiscount }} 元優惠序號，可於下次申訴時使用，亦可分享給親朋好友使用：
	{{#each codes}}
		<p><strong>{{this}}</strong></p>
	{{/each}}

	請注意！每組序號僅能使用一次，期限為 {{ giftCardExpiresDays }} 天，請記得在期限內使用喔！
	</p>
	<br>

	<p>
		相關網站：
		<a href="https://tpcmv.thb.gov.tw/MessageConfirmPage.aspx?n=9777&sms=13712&pgn=1D95B2A4C316480B449D2B265F812515">台北市</a>
		｜<a href="https://www.tad.ntpc.gov.tw/vio_query.aspx">新北市</a>
		｜<a href="https://tad.tycg.gov.tw/PeopleUse/Description?type=RefundApplication">桃園市</a>
		｜<a href="https://www.gov.tw/News_Content_2_515704">台中市</a>
		｜<a href="https://onestop.tainan.gov.tw/eservice/apply_mode_directions2?itemId=1991">台南市</a>
		｜<a href="https://kgo.kcg.gov.tw/apply/info/S2021012600001?applyType=E">高雄市</a>
		｜<a href="https://www.mvdis.gov.tw/m3-emv-car/fee/rtn#gsc.tab=0">監理服務網（其他縣市）</a>
	</p>

	<p>若對申訴結果有疑慮，再請使用 line 客服聯繫我們，這邊將提供給您電子檔案參考。</p>
	<p>謝謝您的支持，祝行車平安！</p>
	<p style="color: #555555">(此為系統通知，請勿回覆此信件)</p>
	<!--	<p>提醒：</p>-->
	<!--	<ol>-->
	<!--		<li>案件等待審核約1~2週、審核查證約1~3個月不等</li>-->
	<!--		<li>案件送出後，到案日期及處罰內容將會暫停</li>-->
	<!--		<li>待審核完成，會提供審核結果及新的到案日期</li>-->
	<!--		<li>待申訴完成有其結果會即刻通知您。</li>-->
	<!--		<li>申請案件進度查詢教學：<a href="https://罰單申訴.com/blog/progress-enquiry">https://罰單申訴.com/blog/progress-enquiry</a>-->
	<!--		</li>-->
	<!--	</ol>-->
</div>

<table align="center" style="width: 100%; max-width: 600px; text-align: center;">
	<tr>
		<td>
			<img src="https://ticket-appeal.jp-osa-1.linodeobjects.com/system/ticket-logo.jpg" alt="罰單申訴" style="width: 30%;" />
		</td>
	</tr>
	<tr>
		<td>
			<span style="color: #777;"><strong>罰單申訴團隊</strong></span> |
			<a href="https://xn--b2r864ev6gb9k.com/" style="color: #007bff; text-decoration: none;"> 官方網站</a>
		</td>
	</tr>
	<tr>
		<td align="center">
			<a href="https://lawplayer.app.link/PGmlX9azLNb" target="_blank"><img src="https://5f73ae67ed.imgdist.com/pub/bfra/efd4tr9e/6at/tz4/r44/Line%20icon.png" width="32" height="auto" alt="LINE" title="LINE" style="display: block; height: auto; border: 0;"></a>
		</td>
	</tr>
</table>

<table align="center" style="width: 100%; text-align: center;">
	<tr>
		<td>
			<a href="https://www.surveycake.com/s/yWq4M" style="display: inline-block; margin: 0 10px;">
				<img src="https://ticket-appeal-template.jp-osa-1.linodeobjects.com/mail/滿意度2.jpg" alt="滿意度調查" style="width: 100%;" />
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="https://app.罰單申訴.com/gift-card" style="display: inline-block; margin: 0 10px;">
				<img src="https://ticket-appeal-template.jp-osa-1.linodeobjects.com/mail/禮物卡.jpg" alt="禮品卡" style="width: 100%;" />
			</a>
		</td>
	</tr>
</table>
</body>
</html>
